@font-face {
  font-family: "Verdana";
  src: url(../font/AnyConv.com__Verdana.woff2);
  font-size: 30px;
  font-weight: 400;
  font-display: wrap;
}
 @keyframes scroll {
  0% { top: 100%; }
	100% { top: -10%; }
} 
* { padding: 0; margin: 0; }

body, html {
  background-color: black;
  font-family: "Verdana";
  color: #f6cb00;
  font-size: 30px;
  width: 100%;
  height: 100%;
	overflow: hidden;
}
.main_content
{
	position: absolute;
	width: 1100px;
  height: 50em;
	bottom: 0;
	left: 45%;
	margin-left: -455px;
	font-size: 90px;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px)rotateX(25deg);
}
.div_main_content{
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 0s infinite;
}
h1{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 60px;
}
.second_h{
  margin-bottom: 100px;
  white-space: nowrap; 
}
p{
  margin-bottom: 100px;
}


